@keyframes fadeOut {
  0% {
    opacity: 1; }
  1% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes zoomIn {
  0% {
    transform: scale(0.6);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.6);
    opacity: 0; } }

@font-face {
  font-family: "benchnine";
  src: url("../fonts/benchnine.eot");
  src: url("../fonts/benchnine.eot?#iefix") format("embedded-opentype"), url("../fonts/benchnine.woff2") format("woff2"), url("../fonts/benchnine.woff") format("woff"), url("../fonts/benchnine.ttf") format("truetype"), url("../fonts/benchnine.svg#benchnine") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "gloriahallelujah";
  src: url("../fonts/gloriahallelujah.eot");
  src: url("../fonts/gloriahallelujah.eot?#iefix") format("embedded-opentype"), url("../fonts/gloriahallelujah.woff2") format("woff2"), url("../fonts/gloriahallelujah.woff") format("woff"), url("../fonts/gloriahallelujah.ttf") format("truetype"), url("../fonts/gloriahallelujah.svg#gloriahallelujah") format("svg");
  font-weight: normal;
  font-style: normal; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

html {
  height: 100vh; }

body {
  color: #fff;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  text-shadow: 0 0 4px #000;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.main-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }
  @media all and (min-width: 1025px) {
    .main-page {
      width: 100%;
      max-width: 1024px;
      left: 50%;
      margin-left: -512px; } }

.steps {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  @media all and (min-width: 1025px) {
    .steps {
      width: 100%;
      max-width: 1024px;
      margin: 0 auto; } }
  .steps__item {
    animation: zoomOut 0.5s ease-out 0s 1 forwards;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transform: scale(0.6);
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    @media all and (min-width: 1025px) {
      .steps__item {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto; } }

#step-1:target,
#step-2:target,
#step-3:target,
#step-4:target {
  animation: zoomIn 0.5s ease-out 0s 1 forwards;
  z-index: 3; }

.steps-header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5); }
  .steps-header__link {
    font: normal 2vh/1 "benchnine", Arial, Helvetica sans-serif;
    color: #fff;
    width: 12vw;
    display: inline-block;
    margin: 0 5vw;
    text-decoration: none; }
    @media all and (min-width: 1025px) {
      .steps-header__link {
        width: 8%;
        margin: 0 3%; } }
    .steps-header__link_next {
      text-align: right; }

.steps-list {
  padding: 0;
  margin: 0; }
  .steps-list__item {
    font: 0/0 a;
    margin: 0 1vw 0 0.4vw;
    display: inline-block;
    vertical-align: top; }
    @media all and (min-width: 1025px) {
      .steps-list__item {
        margin: 0 7px 0 1px; } }
  .steps-list__link {
    display: block;
    text-indent: -9999px;
    width: 2.7vw;
    max-width: 20px;
    border: 1px solid #fff;
    border-radius: 50%; }
    @media all and (min-width: 1025px) {
      .steps-list__link {
        width: 20px; } }
    .steps-list__link:before {
      content: '';
      padding-top: 100%;
      display: block; }
    .steps-list__link_active, .steps-list__link:hover {
      background: #fff; }

.steps-visual {
  max-width: 350px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  height: 40vh; }
  .steps-visual__box {
    height: 35vh;
    width: 100%;
    text-align: center;
    -ms-flex-item-align: end;
    align-self: flex-end;
    position: relative; }
  .steps-visual__holder {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%; }
  .steps-visual__img {
    height: 100%;
    position: relative; }

.steps-content {
  text-align: center;
  width: 100%;
  height: 40vh;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }
  .steps-content__title {
    font: normal 3.31vh/1.09 "gloriahallelujah", Arial, Helvetica sans-serif;
    margin: 0 0 2.37vh;
    width: 100%; }
  .steps-content__text {
    font: normal 2.1vh/1.4 "benchnine", Arial, Helvetica sans-serif;
    margin: 0;
    width: 100%; }
  .steps-content__holder {
    width: 100%;
    padding: 20px 0; }

.steps-button {
  font: normal 3.1vh/1.1 "benchnine", Arial, Helvetica sans-serif;
  color: #fff;
  height: 10vh;
  background: rgba(161, 255, 50, 0.5);
  border: 0;
  padding: 0;
  width: 100%; }
