.steps {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('../img/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @include desktop-main;

  &__item {
    @include anim-zoom(zoomOut);
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transform: scale(.6);
    background-image: url('../img/main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @include desktop-main;
  }
}

#step-1:target,
#step-2:target,
#step-3:target,
#step-4:target {
  @include anim-zoom(zoomIn);
}