.steps-visual {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  height: $heigth-content;

  &__box {
    height: 35vh;
    width: 100%;
    text-align: center;
    align-self: flex-end;
    position: relative;
  }
  &__holder {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
  }
  &__img {
    height: 100%;
    position: relative;
  }
}